/* Section spacing (your global system) */
.section-space {
  padding-top: 80px;
  padding-bottom: 80px;
}
.content-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }

/* Title */
.section-title {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;

  background-image: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
}

/* Card */
.product-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px 18px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 2px 10px rgba(0,0,0,0.06);
  height: 100%;
}

.product-card:hover {
  transform: translateY(-5px);
}

/* Image */
.product-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

/* Name */
.product-name {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 600;
}

/* Price */
.price-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 8px 0;
}

.cut-price {
  text-decoration: line-through;
  color: #9ca3af;
}

.price {
  font-weight: 700;
  color: #111;
}



/* Mobile */
@media (max-width: 576px) {
  .section-space {
    padding-top: 40px;
    padding-bottom: 40px;
  }

}