/* MyNavbar.css */

.top-bar {
 background: var(--brand-gradient);
  font-size: 14.5px;
  font-weight: 500;
}

.close-icon {
  cursor: pointer;
  font-size: 18px;
  opacity: 0.9;
}

.close-icon:hover {
  opacity: 1;
}

/* Main Navbar */
.main-navbar {
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}
.main-navbar .container-fluid {
  padding-left: 80px;
  padding-right: 80px;
}

.brand-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #1f2937;
  text-decoration: none;
}

.logo-img {
  height: 48px;
  width: auto;
}

.brand-text strong {
  font-size: 22px;
  font-weight: 700;
}

.brand-text small {
  font-size: 9.5px;
  color: #6b7280;
  display: block;
}

/* Menu Links */
.nav-links .nav-link {
  font-weight: 600;
  color: #374151 !important;
  margin: 0 16px;
  padding: 8px 0;
  transition: color 0.3s;
}

.nav-links .nav-link:hover,
.nav-links .nav-link.active {
  color: #ec4899 !important;
}

/* Right Icons */
.nav-icons .nav-link {
  font-size: 1.45rem;
  color: #374151;
  margin-left: 12px;
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 15px;
}


.nav-icons .nav-link:hover {
  color: #ec4899;
}

.cart-badge{
   position: absolute;
   top: 0;
   right: -8px;
   background-color: red;
   color: white;
   font-size: 14px;
   padding:3px 8px;
   border-radius: 50%;
}

/* ================= Responsive Fixes ================= */
@media (max-width: 992px) {
     .main-navbar .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }
  .nav-links {
    margin: 15px 0;
    text-align: center;
  }
  
  .nav-links .nav-link {
    margin: 10px 0;
  }

  .nav-icons {
    justify-content: center;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
   .nav-icons {
    justify-content: center;
    margin-top: 10px;
    gap: 25px;
  }

  .navbar-custom {
    padding-top: 2rem !important;
    padding-bottom: 3rem !important;
  }

  /* Square border */
  .custom-toggler {
    border: 2px solid ffd28d !important;
    padding: 10px;
    border-radius: 4px;
    position: relative;
    width: 45px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: transparent;
  }

  /* remove bootstrap default icon */
  .custom-toggler .navbar-toggler-icon {
    display: none;
  }

  /* 3 lines */
  .custom-toggler span {
    width: 22px;
    height: 2px;
    background-color: #000000;
    transition: all 0.3s ease;
    border-radius: 2px;
  }

  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .navbar-toggler:focus {
    box-shadow: none !important;
  }

  button.custom-toggler.navbar-toggler.collapsed {
    border: 2px solid #000 !important;
  }

}


@media (max-width: 576px) {
  .logo-img {
    height: 42px;
  }
   .main-navbar .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
nav.main-navbar.shadow-sm.navbar.navbar-expand-lg.navbar-light.bg-white.sticky-top {
    padding-bottom: 10px;
}

  .navbar-custom {
    padding-top: 2rem !important;
    padding-bottom: 3rem !important;
  }

  /* Square border */
  .custom-toggler {
    border: 2px solid ffd28d !important;
    padding: 10px;
    border-radius: 4px;
    position: relative;
    width: 45px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: transparent;
  }

  /* remove bootstrap default icon */
  .custom-toggler .navbar-toggler-icon {
    display: none;
  }

  /* 3 lines */
  .custom-toggler span {
    width: 22px;
    height: 2px;
    background-color: #000000;
    transition: all 0.3s ease;
    border-radius: 2px;
  }

  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .navbar-toggler:focus {
    box-shadow: none !important;
  }

  button.custom-toggler.navbar-toggler.collapsed {
    border: 2px solid #000 !important;
  }

}